<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Welcome to Our Blog! We are a passionate community of writers, thinkers, and creatives who are dedicated to sharing our insights, experiences, and knowledge with the world. Our mission is to inspire, inform, and entertain our readers through engaging and thought-provoking content. Whether you're here to explore our travel adventures, delve into our thought-provoking essays, or simply discover something new, we hope you find inspiration and value in the stories and ideas we share. Thank you for joining us on this journey, and we look forward to connecting with you as we explore the endless possibilities of the written word.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>